<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyWebsite Login</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <script src="../assets/js/login.js"></script>
  </head>
  <body>
    <main class="container">
      <aside class="leftPanel">
        <img src="../assets/img/mountainVertical.jpg" alt="Imagen de fondo" />
      </aside>
      <section class="rightPanel">
        <form id="loginForm" class="loginForm">
          <h2>Welcome back!</h2>
          <label for="username"></label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            required
          />
          <label for="password"></label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
          <button type="submit">Log In</button>
          <p class="registerLink">
            Don't have an account? <a href="singup.html">Register now</a>
          </p>
        </form>
      </section>
    </main>
  </body>
  <!-- <footer>
    <p>© 2024 MyWebsite</p>
  </footer>-->
</html>
