<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoe Detail</title>

    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/shoeDetail.css" />
    <script src="../assets/js/shoeDetail.js"></script>

  </head>

  <body>
    <!-- HEADER -->
    <header class="headHome">
      <img
        src="../assets/img/Nike logo for some reason.png"
        alt="Nike logo"
        class="topPic"
      />

      <nav class="mainNav">
        <ul>
          <li>
            <button id="adjustData" class="btn-adjustData">Adjust data</button>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/mosi-hickman-blanco-093623349/" class="navLink">Check us out</a>
          </li>
        </ul>
      </nav>

      <a href="main.html" class="logoutIcon" title="Logout">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="black"
        >
          <path
            fill-rule="evenodd"
            d="M16.5 3.75a1.5 1.5 0 0 1 1.5 1.5v13.5a1.5 1.5 0 0 1-1.5 1.5h-6a1.5 1.5 0 0 1-1.5-1.5V15a.75.75 0 0 0-1.5 0v3.75a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5.25a3 3 0 0 0-3-3h-6a3 3 0 0 0-3 3V9A.75.75 0 1 0 9 9V5.25a1.5 1.5 0 0 1 1.5-1.5h6ZM5.78 8.47a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06l-1.72-1.72H15a.75.75 0 0 0 0-1.5H4.06l1.72-1.72a.75.75 0 0 0 0-1.06Z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
    </header>

    <!-- MAIN -->
    <main class="shoeDetailMain">
      <section class="shoeDetailCard">
        <!-- IMAGEN -->
        <div class="shoeImgBox">
          <img
            id="shoeImg"
            class="shoeImg"
            alt="Shoe image"
          />
        </div>

        <!-- INFO -->
        <div class="shoeInfo">
          <h1 class="shoeName" id="shoeName">Nike Air Max 90</h1>
          <p class="shoeDesc" id="shoeDesc">Green sneakers</p>

          <p class="shoePrice" id="shoePrice">89.99 €</p>

          <div class="shoeField">
            <label class="shoeLabel">Size</label>
            <select class="shoeSelect" id="shoeSizeSelect">
              <option>38</option>
              <option>39</option>
              <option>40</option>
              <option>41</option>
              <option>42</option>
            </select>
          </div>

          <p class="shoeStock" id="shoeStock">Only 0 units left!</p>

          <button class="addToCartBtn" type="button" id="addToCartBtn">
            Add to cart
          </button>
        </div>
      </section>
    </main>

    <footer>
      <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <ul class="footerList">
        <li class="listTitle">Contacto</li>
        <li>Dirección: xxxxxxx, xxx, xxx</li>
        <li>Teléfono: +34 678 439 478</li>
        <li>Email: ejemplo@gmail.com</li>
        <li>Horario: L-V 8:00-14:25</li>
      </ul>

      <ul>
        <li class="listTitle">Enlaces útiles</li>
        <li>Inicio</li>
        <li>Servicios</li>
        <li>Acerca de nosotros</li>
      </ul>

      <div class="map">
      <p class="listTitle">Ubicacion</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.4665578500917!2d-2.9767551238415364!3d43.30449177112096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e5a896ea04725%3A0x42b47eab7fd92f60!2sC.%20Tartanga%2C%204%2C%2048950%20Erandio%2C%20Vizcaya!5e0!3m2!1ses!2ses!4v1761209636743!5m2!1ses!2ses"
        width="300" height="200" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <p class="copyright">
        © 2025 [PH]. Todos los derechos reservados
      </p>
    </footer>
  </body>
</html>